RewriteEngine On 
	RewriteCond %{ENV:HTTPS} !on [NC] 
	RewriteCond %{HTTP_HOST} ^isabelpastorlopez.com$ [OR] 
	RewriteCond %{HTTP_HOST} ^www.isabelpastorlopez.com$ [OR]
	RewriteCond %{HTTP_HOST} ^isabelpastorlopez.es$ [OR] 
	RewriteCond %{HTTP_HOST} ^www.isabelpastorlopez.es$
	RewriteRule ^(.*)$ https://isabelpastorlopez.com/$1 [R=301,L,NE]